header {
  height: 60px;
  width: 105%;
  padding: 0px 15px;
  background-color: #7cc7e8;
  position: fixed;
  margin-left: -2%;
  top: 0;
  z-index: 10;
  display: flex;
} 

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #a9a9a9;
  text-align: center;
}

body {
  background-color: #fff4ea;
}

li {
  list-style: none;
}

.header-list__item a {
  text-decoration:none;
  color: #fff;
}

.header-list__item a:hover {
  opacity: 0.7;
}

table {
  margin-right: auto; 
  margin-left: auto;
}

img{
  width: 350px;
}

.header-list li {
  list-style: none;
  float: left;
  position: relative;
  margin-left: 50px;
  padding: 5px 0px;
  font-weight: bold;
  }

.header-list {
  margin-left: 250px;
}  

.header-logo {
  color: green;
  font-size: 30px;
  float: left;
  padding: 10px 40px;
}

.mobile-logo {
  display: none;
}

.toggle-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 120px;
  top: 15px;
  z-index: 2;
  cursor: pointer;
  cursor: hand;
}

.toggle-btn__line {
  background: #fff;
  display: block;
  height: 2px;
  position: absolute;
  transition: transform 0.5s;
  width: 100%;
}

.toggle-btn__line--top {
  top: 3px;
}

.toggle-btn__line--center {
  top: 15px;
}

.toggle-btn__line--bottom {
  top: 27px;
}

.toggle-btn__line--top.active {
  top: 15px;
  transform: rotate(45deg);
}
.toggle-btn__line--center.active {
  transform: scaleX(0);
}
.toggle-btn__line--bottom.active {
  top: 15px;
  transform: rotate(135deg);
}

/* ナビゲーションメニュー
==============================　*/
.global-nav {
  display: none;
  position: fixed;
  margin-left: 15px;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.global-nav__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.global-nav__item {
  margin-bottom: 30px;
}

.global-nav__item a {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}

.global-nav__item a:hover {
  opacity: 0.7;
}

.page-header {
  /* 横に並べる */
  display: flex;
  /* 両端に設置する */
  justify-content: space-between;
}

.wrapper {
  text-align: center;
  margin: auto 400px;
}

.twitter-timeline {
  margin: 0 auto;
}

.title {
  margin-top: 80px;
}

.test {
  font-size: 30px;
  color: crimson;
  position: absolute;
  margin-top: 300px;
}

.box {
  width: 100%;
  height: 300px;
  border: 1px solid #000;
  overflow-y: scroll;
  margin-bottom: 30px;
}

@media screen and (max-width:450px) {
  header {
    height: 60px;
    width: 100%;
    padding: 0px 15px;
    background-color: #7cc7e8;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
  } 
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #a9a9a9;
    text-align: center;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration:none;
  }

  table {
    margin-right: auto; 
    margin-left: auto;
  }
  
  img{
    width: 150px;
  }
  
  .header-list {
    display: none;
  }

  .header-logo {
    font-size: 25px;
  }
  
  .toggle-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 55px;
    top: 15px;
    z-index: 2;
    cursor: pointer;
    cursor: hand;
  }
  
  .toggle-btn__line {
    background: #fff;
    display: block;
    height: 2px;
    position: absolute;
    transition: transform 0.5s;
    width: 100%;
  }
  
  .toggle-btn__line--top {
    top: 3px;
  }
  
  .toggle-btn__line--center {
    top: 15px;
  }
  
  .toggle-btn__line--bottom {
    top: 27px;
  }
  
  .toggle-btn__line--top.active {
    top: 15px;
    transform: rotate(45deg);
  }
  .toggle-btn__line--center.active {
    transform: scaleX(0);
  }
  .toggle-btn__line--bottom.active {
    top: 15px;
    transform: rotate(135deg);
  }
  
  /* ナビゲーションメニュー
  ==============================　*/
  .global-nav {
    display: none;
    position: fixed;
    margin-left: -15px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .global-nav__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .global-nav__item {
    margin-bottom: 30px;
  }
  
  .global-nav__item a {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
  }
  
  .global-nav__item a:hover {
    opacity: 0.7;
  }
  
  .page-header {
    /* 横に並べる */
    display: flex;
    /* 両端に設置する */
    justify-content: space-between;
  }

  .wrapper {
    text-align: center;
    margin: 0;
  }
}